body{
  width: 100%; 
  background-color: #DE8686;
    overflow: auto;

}
#subhead{
    margin-top: 7%;
    margin-left: 5.5%;    
}

h2{
    color: #DBDFE6;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;


}
#table{
    width: 100%;
    margin-top: -1%;
    margin-left: 5%;
    margin-right: 5% 
    /* color: #282E42;
    background-color: #DBDFE6; */
    vertical-align: center;
}

table{
    color: #282E42;
    background-color: #DBDFE6;
    /* width: 100%; */
    height: 50%;
    padding: .9em .5em .0 .5em;
    border-collapse: separate;
    
}

th, td{
    padding: 1.2em;
    background-color: #D4C6B4;
    line-height: 1.2em;
    border-bottom: 1em solid #DBDFE6;
    margin: 2%;
}

td{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;    
}

th{
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;    
}

 th:first-child{
   min-width: 8em; 
} 

#clear{
    background-color: #DBDFE6;
}